<div class="contenedornegro">
    <div class="cajanaranja">
        <div class="logotipo"></div>
        <div class="menuprimario">
            <nav>
                <ul type="none" class="mainmenu">
                    <li>Planear<a href=""></a></li>
                    <li>Mis reservas<a href=""></a></li>
                    <li>Registrarse<a href=""></a></li>
                    <li>Ayuda<a href=""></a></li>
                    <li><img src="../../assets/img/bandera.jpg" alt="idioma"><a href=""></a></li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="cajaazulclaro">
        <div class="cajarosa">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="transparent"><button></button></div>
    </div>
</div>
