.contenedornegro{
    width: 100%;
    height: 20rem;
    background-color: black;
}
.cajanaranja{
width: 100%;
height: 25%;
background-color: orange;
display: flex;
justify-content: space-between;
}
.logotipo{
width: 7rem;
height: 100%;
background-color: blue;
}
.menuprimario{
    height: 100%;
    width: 40rem;
    background-color: rgb(0, 0, 255);
    text-align: center;
}

.cajaazulclaro{
    width: 100%;
    height: 75%;
    background-color: rgb(60, 227, 249); 
}
.mainmenu{
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.mainmenu li {
    display: inline;
    color: aliceblue;
}

.encabezado {
    background-color: rgb(124, 18, 18);
}