<header>
    <nav>
        <ul type="none" class="menu">
            <li><a href="https://www.google.com">Inicio</a></li>
            <li><a href="">Servicios</a></li>
            <li><a href="https://wa.me/34678052920?text=Quiero%20hablar%20con%20vosotros"><img class="what" src="../../assets/img/whatsapp.svg" alt=""></a></li>
            <li><a href="mailto:hflow0805@gmail.com?body=Escribe aquí tus peticiones&subject=Petición de ayuda">Contacto</a></li>
        </ul>
    </nav>
</header>
<div>
    p <div class="textoprincipal">
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam animi et eos alias dicta qui eum possimus sapiente recusandae. Harum adipisci quos temporibus et officia ut porro, at deleniti error.</div>
        <div>Debitis consequuntur eligendi veniam necessitatibus aliquam enim architecto, esse blanditiis laudantium assumenda, quis adipisci est omnis deserunt distinctio quaerat reiciendis voluptas? Laudantium odio quod quis veniam repudiandae, excepturi a harum.</div>
        <div>Molestiae cumque eveniet illum sequi minus et tenetur, fugiat animi enim modi, perferendis cum ullam. Quaerat quam itaque, eaque asperiores assumenda omnis expedita totam veniam. Voluptas cupiditate eligendi neque quisquam?</div>
        <div>Delectus, perspiciatis iure ab enim nesciunt temporibus ratione sit doloribus? Ipsa cumque accusantium beatae quidem sint nostrum, corporis sit officia id optio molestias nam blanditiis possimus placeat repellat vitae adipisci.</div>
        <div>Laudantium totam esse quis, quasi omnis suscipit repellendus ratione. Quas hic eum saepe nobis neque, harum voluptatibus esse enim, labore earum cum amet. Laudantium culpa sunt commodi, et accusantium sapiente!</div>
    </div>
</div>

